
/* Global Styles */

@import vars.sass

html,
body
  width: 100vw

.pink
  background-color: pink !important

\:focus
  outline: none

h1,h2,h3,h4,h5
  font-family: 'nocturno', cursive

h1
  font-size: 2em

body
  font-size: 20px

body, p, a
  font-family: $body-font

a
  color: $highlight-color
  text-decoration: underline

p
  margin-bottom: em(20)

section
  padding: 5% 10%
  @include phone
    padding: 0px em(20)

// container

.content-wrapper
  padding: 0px

/* Header */
.highlight
  color: $highlight-color

.vertical-align
  display: flex
  align-items: center

.header
  background: url(../img/header.jpg) no-repeat center center
  background-size: cover
  min-height: 100vh
  @include phone
    background: url(../img/header.jpg) no-repeat
    background-position: 0% 0%
    background-size: cover
    height: 100vh


.header-text-wrapper
  background-color: transparent !important

header#top
  @include phone
    display: flex
    align-items: baseline

#header-text
  min-height: 200px
  padding: 2em
  background-color: rgba(black, 0.5)
  color: white
  max-width: 50vw
  @include phone
    min-width: 80vw
    max-width: 80vw
    margin-top: 1em
    min-height: 250px

// opening bullets
.normal-list
  list-style: disc
  text-align: left

/* Summary */

#summary .container
  width: 100% !important

/* Testimonials*/

#testimonials
  height: auto
  background-color: $background-on-color
  @include desktop
    padding:  em(75)  em(10)
  @include phone
    padding-top: 1em

.slick-slider
  display: flex !important
  align-items: center
  justify-content: center

.slick-slide
  padding-top: 20px
  display: flex
  justify-content: center
  align-items: center
  @include tablet
    flex-direction: column
  @include phone
    flex-direction: column

.floating-head
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-right:  em(35)
  @include phone
    margin:  em(0)

.floating-head-image
  margin:  em(20)
  border-radius:  em(200)
  width:  em(200)
  height: auto
  @include tablet
    width:  em(100)
  @include phone
    width:  em(100)

.person-desc
  text-align: center
  font-style: italic
  width:  em(300)
  @include phone
    width: auto
    overflow: visible

.testimonial-text
  width: 50%
  font-style: italic
  @include tablet
    width:  em(300)
  @include phone
    width: auto
  @include phone-landscape
    width: 80%


/* Testimonial arrows*/

.line-arrow
  z-index: 900
  background-color: transparent
  display: inline-block
  font-size:  1.25em /*set the size for arrow*/
  width: 2em
  height: 2em
  margin-top: -2em

.line-arrow.left
  border-top:  em(1) solid $highlight-color
  border-left:  em(1) solid $highlight-color
  transform: rotate(-54deg) skew(-20deg)
  position: relative
  left:  em(0)
  border-right: none
  border-bottom: none
  @include tablet
    display: none
  @include phone
    display: none

.line-arrow.right
  right:  em(0)
  border:  em(1) solid $highlight-color
  border-bottom: none
  border-left: none
  transform: rotate(54deg) skew(20deg)
  @include tablet
    display: none
  @include phone
    display: none


.line-arrow:active,
.line-arrow.active
  border-width:  em(2)


/* About Me */
#about-me
  background: url(../img/aboutme.jpg) no-repeat 40% 40% scroll
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  display: flex
  justify-content: flex-end
  @include desktop
    background: url(../img/aboutme.jpg) no-repeat 40% 40% scroll
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    -o-background-size: cover
  @include tablet
    background: none
    background-color: $background-on-color
    padding:  em(20)
    height: auto
  @include phone
    background: none
    background-color: $background-on-color
    height: auto


#about-me-textbox
  background-color: rgba(0, 0, 0, 0.6)
  color: white
  height: auto
  padding: 2em
  @include tablet
    background: none
    color: black
  @include phone
    background: none
    color: black
    padding: 0px

#about-me-textbox h1
  @include phone
    text-align: center

/* Contact form*/

#contact
  padding: 5% 0%
  @include phone
    padding: 1em

.form-control
  border: none
  box-shadow: none
  width: auto
  margin:  em(10)
  height: auto
  font-size: $body-font-size
  &:focus
    box-shadow: none
  @include phone
    font-size: $body-font-size*0.8
    margin: em(0)

.details
  border-bottom: em(2) solid $highlight-color
  border-radius: em(0)

#name
  width:  40%

#email
  width:  40%

#message
  border: em(2) solid $highlight-color
  width: 80%
  @include phone
    width: 100%
  @include phone-landscape
    width: 90%

#subheading
  font-size: 1.3em
  margin: 0px

#subheading p
  margin: 0px

button[type=submit]
  margin-left:  em(10)
  @include phone
    margin:  em(0)

// buttons

.btn-default
  background-color: $highlight-color
  color: white
  &:hover
    background-color: darken($highlight-color, 10%)
    @include transition(background-color .3s ease)
    color: white
/* Custom Horizontal Rule */


hr.small
  max-width:  em(100)
  border-top:  em(1) solid $highlight-color

/* Portfolio */

.narrow
  padding:  5% 10% 0% 10%
  @include phone
    padding:  em(20)  em(20)  em(0)  em(20)

.portfolio
  padding:  em(50)  em(0)
  @include phone
    padding-top: 1em

.portfolio-item
  margin:  em(20)
  @include phone
    padding:  em(20)  em(0)

.img-responsive
  max-height: 3.75em

.img-portfolio
  margin: 0 auto
  max-height:  75px
  width: auto
  @include phone
    height: auto
    max-width:  50px

.img-portfolio:hover
  opacity: 0.8

.col-sm-6:nth-of-type(2n-1)
  @include phone
    background-color: $background-on-color

.qod-breaks
  @include XL
    display: block
  @include tablet
    display: block
  @include desktop
    display: block
  @include phone
    display: none

.yogi-breaks
  @include phone
    display: none

/* Footer */

footer
  padding:  em(100)  em(0)
  @include phone
    padding:  em(20)

.italic
  font-style: italic

#enjoy
  background-color: rgba(205, 220, 240, 0.5)

#pink-button
  font-size: 20px
  padding: 0.5em 1em
  border-color: #7d7b7b
  border-width: 0px 1px 1px 0px
  background-color: #f12e5a
  &:hover
    background-color: #c11c42

// Testimonials page

#testimonials-header-wrapper
  background-size: cover
  background-position: center bottom


#testimonials-header
  min-height: 600px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @include phone
    min-height: 100vh
    padding: 1em
    margin: 0 auto
    text-align: center

#testimonials-section
  max-width: 1280px
  margin: 0 auto

#t-headline-box
  text-align: center
  color: white
  background-color: rgba(black, 0.4)
  padding: 1em
  & h1
    margin-bottom: 20px
  & p
    margin-bottom: 2em

.grid
  margin: 0 auto

.grid-item
  padding: 1em
  width: 300px
  // margin-bottom: 2em
  @include phone
    width: 90%
    margin-bottom: 0px

.testimonial-paragraphs
  font-size: 15px

.testimonial-names
  font-size: 13px
  display: block
  font-weight: bold

.testimonial-jobs
  font-size: 13px
  display: block

.head-circles
  border-radius: 50%
  height: 75px
  min-width: 75px
  background-size: cover
  float: left
  margin-right: 20px

#tButtonWrapper
  display: block
  text-align: center
  padding: 1em

#projects .container
  text-align: center

#projects-wrapper
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

.projects-logo
  max-width: 150px
  height: auto
  max-height: 100px
  margin: 0.5em

section#projects
  padding-left: 0px
  padding-right: 0px

.testimonials-details-wrapper
  display: flex

.grid-item hr
  max-width: 50%