@function em($pixels)
  @return #{$pixels/16}em

$phone: em(480)
$tablet: em(769)
$desktop: em(1281)

@font-face
  font-family: "baron"
  font-weight: 400
  src: url(/fonts/Nocturno.otf) format('OpenType')

@font-face
  font-family: "nocturno"
  font-weight: 400
  src: url(/fonts/Nocturno.otf) format('OpenType')

@font-face
  font-family: "qureka"
  font-weight: 400
  src: url(/fonts/Qureka.otf) format('OpenType')

@mixin XL
  @media only screen and (min-width: $desktop) and (-webkit-min-device-pixel-ratio: 1)
    @content

@mixin desktop
  @media only screen and (min-width: $tablet) and (max-width: $desktop) and (-webkit-min-device-pixel-ratio: 1)
    @content

@mixin tablet
  @media only screen and (min-width: $phone) and (max-width: $tablet)
    @content

@mixin phone
  @media only screen and (min-width: 1px) and (max-width: $phone)
    @content

@mixin phone-landscape
  @media only screen and (min-width: 1px) and (max-width: $tablet) and (orientation:landscape)
    @content

$highlight-color: #07a4b5
$body-font: "nocturno", serif
$body-font-size: 1em
$background-on-color: rgba(205, 220, 240, 0.5)

html
  @include phone
    font-size: 18px !important
  @include tablet
    font-size: 20px !important
  @include desktop
    font-size: 20px !important
  @include XL
    font-size: 22px !important

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args
